
div.Attribute0
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#Att0Legend
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.Attribute0 #Att0Legend
{
	/*background-color: green;*/
	display: block;
}
div.StdInfo1
{
	padding: 10px;
	color: white;
	background-color: #9966FF;
	border: 1px solid purple;
}
#SILegend1
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #9966FF;
	border: none;
}
div.StdInfo1 #SILegend1
{
	/*background-color: green;*/
	display: block;
}
div.AttHeader2
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#AttHeaderLegend2
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.AttHeader2 #AttHeaderLegend2
{
	/*background-color: green;*/
	display: block;
}
div.Type3
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#TLegend3
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Type3 + #TLegend3
{
	/*background-color: green;*/
	display: inline-block;
}

div.Length4
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend4
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Length4 + #LLegend4
{
	/*background-color: green;*/
	display: inline-block;
}

div.NonRes5
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NRLEgend5
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NonRes5 + #NRLEgend5
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameLength6
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NLLegend6
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameLength6 + #NLLegend6
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameOffset7
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NOLegend7
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameOffset7 + #NOLegend7
{
	/*background-color: green;*/
	display: inline-block;
}

div.Flags8
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FLegend8
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Flags8 + #FLegend8
{
	/*background-color: green;*/
	display: inline-block;
}

div.id9
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#idLegend9
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.id9 + #idLegend9
{
	/*background-color: green;*/
	display: inline-block;
}

div.length10
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend10
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.length10 + #LLegend10
{
	/*background-color: green;*/
	display: inline-block;
}

div.AttrOffset11
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#AOLegend11
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AttrOffset11 + #AOLegend11
{
	/*background-color: green;*/
	display: inline-block;
}

div.IndexedFlag12
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#IFLegend12
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.IndexedFlag12 + #IFLegend12
{
	/*background-color: green;*/
	display: inline-block;
}

div.Padding13
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#PLegend13
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Padding13 + #PLegend13
{
	/*background-color: green;*/
	display: inline-block;
}


div.STDINFOData14
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#SILegend14
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.STDINFOData14 #SILegend14
{
	/*background-color: green;*/
	display: block;
}
div.CTime15
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#CTLegend15
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.CTime15 + #CTLegend15
{
	/*background-color: green;*/
	display: inline-block;
}




div.Attribute1
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#Att1Legend
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.Attribute1 #Att1Legend
{
	/*background-color: green;*/
	display: block;
}
div.AttrFileName16
{
	padding: 10px;
	color: white;
	background-color: #9966FF;
	border: 1px solid purple;
}
#AFNLegend16
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #9966FF;
	border: none;
}
div.AttrFileName16 #AFNLegend16
{
	/*background-color: green;*/
	display: block;
}
div.AttHeader17
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#AttHeaderLegend17
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.AttHeader17 #AttHeaderLegend17
{
	/*background-color: green;*/
	display: block;
}
div.Type18
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#TLegend18
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Type18 + #TLegend18
{
	/*background-color: green;*/
	display: inline-block;
}

div.Length19
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend19
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Length19 + #LLegend19
{
	/*background-color: green;*/
	display: inline-block;
}

div.NonRes20
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NRLEgend20
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NonRes20 + #NRLEgend20
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameLength21
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NLLegend21
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameLength21 + #NLLegend21
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameOffset22
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NOLegend22
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameOffset22 + #NOLegend22
{
	/*background-color: green;*/
	display: inline-block;
}

div.Flags23
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FLegend23
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Flags23 + #FLegend23
{
	/*background-color: green;*/
	display: inline-block;
}

div.id24
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#idLegend24
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.id24 + #idLegend24
{
	/*background-color: green;*/
	display: inline-block;
}

div.length25
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend25
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.length25 + #LLegend25
{
	/*background-color: green;*/
	display: inline-block;
}

div.AttrOffset26
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#AOLegend26
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AttrOffset26 + #AOLegend26
{
	/*background-color: green;*/
	display: inline-block;
}

div.IndexedFlag27
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#IFLegend27
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.IndexedFlag27 + #IFLegend27
{
	/*background-color: green;*/
	display: inline-block;
}

div.Padding28
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#PLegend28
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Padding28 + #PLegend28
{
	/*background-color: green;*/
	display: inline-block;
}


div.FILE_NAMEData29
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#FNDLegend29
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.FILE_NAMEData29 #FNDLegend29
{
	/*background-color: green;*/
	display: block;
}
div.ParentMft30
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#PMFTLegend30
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.ParentMft30 + #PMFTLegend30
{
	/*background-color: green;*/
	display: inline-block;
}

div.FileCreate31
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FCLegend31
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.FileCreate31 + #FCLegend31
{
	/*background-color: green;*/
	display: inline-block;
}

div.FileMod32
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FMLegend32
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.FileMod32 + #FMLegend32
{
	/*background-color: green;*/
	display: inline-block;
}

div.MftMod33
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#MMLegend33
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.MftMod33 + #MMLegend33
{
	/*background-color: green;*/
	display: inline-block;
}

div.FileAccess34
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FATLegend34
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.FileAccess34 + #FATLegend34
{
	/*background-color: green;*/
	display: inline-block;
}

div.AllocSize35
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#ASLegend35
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AllocSize35 + #ASLegend35
{
	/*background-color: green;*/
	display: inline-block;
}

div.AllocSize36
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#ASLegend36
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AllocSize36 + #ASLegend36
{
	/*background-color: green;*/
	display: inline-block;
}

div.Flags37
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FlLegend37
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Flags37 + #FlLegend37
{
	/*background-color: green;*/
	display: inline-block;
}

div.Reparse38
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#RLegend38
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Reparse38 + #RLegend38
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameLength39
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NLLegend39
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameLength39 + #NLLegend39
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameSpace40
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NSLegend40
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameSpace40 + #NSLegend40
{
	/*background-color: green;*/
	display: inline-block;
}

div.Name41
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NLegend41
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Name41 + #NLegend41
{
	/*background-color: green;*/
	display: inline-block;
}




div.Attribute2
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#Att2Legend
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.Attribute2 #Att2Legend
{
	/*background-color: green;*/
	display: block;
}
div.AttrObjId42
{
	padding: 10px;
	color: white;
	background-color: #9966FF;
	border: 1px solid purple;
}
#AiLegend42
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #9966FF;
	border: none;
}
div.AttrObjId42 #AiLegend42
{
	/*background-color: green;*/
	display: block;
}
div.AttHeader43
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#AttHeaderLegend43
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.AttHeader43 #AttHeaderLegend43
{
	/*background-color: green;*/
	display: block;
}
div.Type44
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#TLegend44
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Type44 + #TLegend44
{
	/*background-color: green;*/
	display: inline-block;
}

div.Length45
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend45
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Length45 + #LLegend45
{
	/*background-color: green;*/
	display: inline-block;
}

div.NonRes46
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NRLEgend46
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NonRes46 + #NRLEgend46
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameLength47
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NLLegend47
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameLength47 + #NLLegend47
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameOffset48
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NOLegend48
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameOffset48 + #NOLegend48
{
	/*background-color: green;*/
	display: inline-block;
}

div.Flags49
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FLegend49
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Flags49 + #FLegend49
{
	/*background-color: green;*/
	display: inline-block;
}

div.id50
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#idLegend50
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.id50 + #idLegend50
{
	/*background-color: green;*/
	display: inline-block;
}

div.length51
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend51
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.length51 + #LLegend51
{
	/*background-color: green;*/
	display: inline-block;
}

div.AttrOffset52
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#AOLegend52
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AttrOffset52 + #AOLegend52
{
	/*background-color: green;*/
	display: inline-block;
}

div.IndexedFlag53
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#IFLegend53
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.IndexedFlag53 + #IFLegend53
{
	/*background-color: green;*/
	display: inline-block;
}

div.Padding54
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#PLegend54
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Padding54 + #PLegend54
{
	/*background-color: green;*/
	display: inline-block;
}




div.Attribute3
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#Att3Legend
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.Attribute3 #Att3Legend
{
	/*background-color: green;*/
	display: block;
}
div.AttrIndexRoot55
{
	padding: 10px;
	color: white;
	background-color: #9966FF;
	border: 1px solid purple;
}
#AIRLegend55
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #9966FF;
	border: none;
}
div.AttrIndexRoot55 #AIRLegend55
{
	/*background-color: green;*/
	display: block;
}
div.AttHeader56
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#AttHeaderLegend56
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.AttHeader56 #AttHeaderLegend56
{
	/*background-color: green;*/
	display: block;
}
div.FileNameClass57
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#FNCLegend57
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.FileNameClass57 + #FNCLegend57
{
	/*background-color: green;*/
	display: inline-block;
}

div.Type58
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#TLegend58
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Type58 + #TLegend58
{
	/*background-color: green;*/
	display: inline-block;
}

div.Length59
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend59
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Length59 + #LLegend59
{
	/*background-color: green;*/
	display: inline-block;
}

div.NonRes60
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NRLEgend60
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NonRes60 + #NRLEgend60
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameLength61
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NLLegend61
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameLength61 + #NLLegend61
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameOffset62
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NOLegend62
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameOffset62 + #NOLegend62
{
	/*background-color: green;*/
	display: inline-block;
}

div.Flags63
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FLegend63
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Flags63 + #FLegend63
{
	/*background-color: green;*/
	display: inline-block;
}

div.id64
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#idLegend64
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.id64 + #idLegend64
{
	/*background-color: green;*/
	display: inline-block;
}

div.length65
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend65
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.length65 + #LLegend65
{
	/*background-color: green;*/
	display: inline-block;
}

div.AttrOffset66
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#AOLegend66
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AttrOffset66 + #AOLegend66
{
	/*background-color: green;*/
	display: inline-block;
}

div.IndexedFlag67
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#IFLegend67
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.IndexedFlag67 + #IFLegend67
{
	/*background-color: green;*/
	display: inline-block;
}

div.Padding68
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#PLegend68
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Padding68 + #PLegend68
{
	/*background-color: green;*/
	display: inline-block;
}


div.INDEX_ROOTData69
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#IRLegend69
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.INDEX_ROOTData69 #IRLegend69
{
	/*background-color: green;*/
	display: block;
}
div.AttrType70
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#ATLegend70
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AttrType70 + #ATLegend70
{
	/*background-color: green;*/
	display: inline-block;
}

div.CollationRule71
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#CRLegend71
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.CollationRule71 + #CRLegend71
{
	/*background-color: green;*/
	display: inline-block;
}

div.BPIR72
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#BPIRLegend72
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.BPIR72 + #BPIRLegend72
{
	/*background-color: green;*/
	display: inline-block;
}

div.CPIR73
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#CPIRLegend73
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.CPIR73 + #CPIRLegend73
{
	/*background-color: green;*/
	display: inline-block;
}




div.Attribute4
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#Att4Legend
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.Attribute4 #Att4Legend
{
	/*background-color: green;*/
	display: block;
}
div.AttrIndexAllocation74
{
	padding: 10px;
	color: white;
	background-color: #9966FF;
	border: 1px solid purple;
}
#AIALegend74
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #9966FF;
	border: none;
}
div.AttrIndexAllocation74 #AIALegend74
{
	/*background-color: green;*/
	display: block;
}
div.AttHeader75
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#AttHeaderLegend75
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.AttHeader75 #AttHeaderLegend75
{
	/*background-color: green;*/
	display: block;
}
div.FileNameClass76
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#FNCLegend76
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.FileNameClass76 + #FNCLegend76
{
	/*background-color: green;*/
	display: inline-block;
}

div.Type77
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#TLegend77
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Type77 + #TLegend77
{
	/*background-color: green;*/
	display: inline-block;
}

div.Length78
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend78
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Length78 + #LLegend78
{
	/*background-color: green;*/
	display: inline-block;
}

div.NonRes79
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NRLEgend79
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NonRes79 + #NRLEgend79
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameLength80
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NLLegend80
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameLength80 + #NLLegend80
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameOffset81
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NOLegend81
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameOffset81 + #NOLegend81
{
	/*background-color: green;*/
	display: inline-block;
}

div.Flags82
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FLegend82
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Flags82 + #FLegend82
{
	/*background-color: green;*/
	display: inline-block;
}

div.id83
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#idLegend83
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.id83 + #idLegend83
{
	/*background-color: green;*/
	display: inline-block;
}

div.LowestVCN84
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LVLegend84
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.LowestVCN84 + #LVLegend84
{
	/*background-color: green;*/
	display: inline-block;
}

div.HighestVCN85
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#HVLegend85
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.HighestVCN85 + #HVLegend85
{
	/*background-color: green;*/
	display: inline-block;
}

div.MappingPairsOffset86
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#MPOLegend86
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.MappingPairsOffset86 + #MPOLegend86
{
	/*background-color: green;*/
	display: inline-block;
}

div.CompressionUnit87
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#CULegend87
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.CompressionUnit87 + #CULegend87
{
	/*background-color: green;*/
	display: inline-block;
}

div.Reserved88
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#RLegend88
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Reserved88 + #RLegend88
{
	/*background-color: green;*/
	display: inline-block;
}

div.AllocSize89
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#ASLegend89
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AllocSize89 + #ASLegend89
{
	/*background-color: green;*/
	display: inline-block;
}

div.DataSize90
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#DSLegend90
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.DataSize90 + #DSLegend90
{
	/*background-color: green;*/
	display: inline-block;
}

div.InitSize91
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#ISLegend91
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.InitSize91 + #ISLegend91
{
	/*background-color: green;*/
	display: inline-block;
}




div.Attribute5
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#Att5Legend
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.Attribute5 #Att5Legend
{
	/*background-color: green;*/
	display: block;
}
div.AttrBitmap92
{
	padding: 10px;
	color: white;
	background-color: #9966FF;
	border: 1px solid purple;
}
#ABLegend92
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #9966FF;
	border: none;
}
div.AttrBitmap92 #ABLegend92
{
	/*background-color: green;*/
	display: block;
}
div.AttHeader93
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#AttHeaderLegend93
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.AttHeader93 #AttHeaderLegend93
{
	/*background-color: green;*/
	display: block;
}
div.FileNameClass94
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#FNCLegend94
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.FileNameClass94 + #FNCLegend94
{
	/*background-color: green;*/
	display: inline-block;
}

div.Type95
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#TLegend95
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Type95 + #TLegend95
{
	/*background-color: green;*/
	display: inline-block;
}

div.Length96
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend96
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Length96 + #LLegend96
{
	/*background-color: green;*/
	display: inline-block;
}

div.NonRes97
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NRLEgend97
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NonRes97 + #NRLEgend97
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameLength98
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NLLegend98
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameLength98 + #NLLegend98
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameOffset99
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NOLegend99
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameOffset99 + #NOLegend99
{
	/*background-color: green;*/
	display: inline-block;
}

div.Flags100
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FLegend100
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Flags100 + #FLegend100
{
	/*background-color: green;*/
	display: inline-block;
}

div.id101
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#idLegend101
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.id101 + #idLegend101
{
	/*background-color: green;*/
	display: inline-block;
}

div.length102
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend102
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.length102 + #LLegend102
{
	/*background-color: green;*/
	display: inline-block;
}

div.AttrOffset103
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#AOLegend103
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AttrOffset103 + #AOLegend103
{
	/*background-color: green;*/
	display: inline-block;
}

div.IndexedFlag104
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#IFLegend104
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.IndexedFlag104 + #IFLegend104
{
	/*background-color: green;*/
	display: inline-block;
}

div.Padding105
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#PLegend105
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Padding105 + #PLegend105
{
	/*background-color: green;*/
	display: inline-block;
}




div.Attribute6
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#Att6Legend
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.Attribute6 #Att6Legend
{
	/*background-color: green;*/
	display: block;
}
div.AttrLoggedUtility106
{
	padding: 10px;
	color: white;
	background-color: #9966FF;
	border: 1px solid purple;
}
#ALULegend106
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #9966FF;
	border: none;
}
div.AttrLoggedUtility106 #ALULegend106
{
	/*background-color: green;*/
	display: block;
}
div.AttHeader107
{
	padding: 10px;
	color: white;
	background-color: #CC0000;
	border: 1px solid red;
}
#AttHeaderLegend107
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #CC0000;
	border: none;
}
div.AttHeader107 #AttHeaderLegend107
{
	/*background-color: green;*/
	display: block;
}
div.FileNameClass108
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#FNCLegend108
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.FileNameClass108 + #FNCLegend108
{
	/*background-color: green;*/
	display: inline-block;
}

div.Type109
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#TLegend109
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Type109 + #TLegend109
{
	/*background-color: green;*/
	display: inline-block;
}

div.Length110
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend110
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Length110 + #LLegend110
{
	/*background-color: green;*/
	display: inline-block;
}

div.NonRes111
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NRLEgend111
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NonRes111 + #NRLEgend111
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameLength112
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NLLegend112
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameLength112 + #NLLegend112
{
	/*background-color: green;*/
	display: inline-block;
}

div.NameOffset113
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#NOLegend113
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.NameOffset113 + #NOLegend113
{
	/*background-color: green;*/
	display: inline-block;
}

div.Flags114
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#FLegend114
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Flags114 + #FLegend114
{
	/*background-color: green;*/
	display: inline-block;
}

div.id115
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#idLegend115
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.id115 + #idLegend115
{
	/*background-color: green;*/
	display: inline-block;
}

div.length116
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#LLegend116
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.length116 + #LLegend116
{
	/*background-color: green;*/
	display: inline-block;
}

div.AttrOffset117
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#AOLegend117
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.AttrOffset117 + #AOLegend117
{
	/*background-color: green;*/
	display: inline-block;
}

div.IndexedFlag118
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#IFLegend118
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.IndexedFlag118 + #IFLegend118
{
	/*background-color: green;*/
	display: inline-block;
}

div.Padding119
{
	padding: 10px;
	color: white;
	background-color: #0000BB;
	border: 1px solid blue;
}
#PLegend119
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: white;
	background-color: #0000BB;
	border: none;
}
div.Padding119 + #PLegend119
{
	/*background-color: green;*/
	display: inline-block;
}



div.FixupArray
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#FULegend
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.FixupArray + #FULegend
{
	/*background-color: green;*/
	display: inline-block;
}
div.FixupSig
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#FSLegend
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.FixupSig + #FSLegend
{
	/*background-color: green;*/
	display: inline-block;
}

div.FixupEntry0
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#FELegend0
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.FixupEntry0 + #FELegend0
{
	/*background-color: green;*/
	display: inline-block;
}

div.FixupEntry1
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#FELegend1
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.FixupEntry1 + #FELegend1
{
	/*background-color: green;*/
	display: inline-block;
}

div.FixupEntry2
{
	padding: 10px;
	color: black;
	background-color: #33FF66;
	border: 1px solid green;
}
#FELegend2
{	display: none;
	float: none;
	padding: 5px;
	margin: auto;
	color: black;
	background-color: #33FF66;
	border: none;
}
div.FixupEntry2 + #FELegend2
{
	/*background-color: green;*/
	display: inline-block;
}

